<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="common.css">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body>
<div id="header" class="header">
    <h1>Book pandemonium</h1>
    <div id="menu">
        <span><a href="index.html" th:href="@{/}">Главная</a></span>|
        <span><a href="authors.html" th:href="@{/authors}">Авторы</a></span>|
        <spa><a href="jenres.html" th:href="@{/jenres}">Жанры</a></spa></div>
</div>
<div id="content">
    <table class="table-list">
        <thead><tr><th>id</th><th>Наименование</th><th>Автор</th><th>Жанр</th><th>Год издания</th><th></th><th></th></tr></thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">Какое-то наименование книги</td>
            <td th:text="${book.author.name}">Наименование автора</td>
            <td th:text="${book.jenre.name}">Наименование жанра</td>
            <td th:text="${book.publishingYear}">Год публикации</td>
            <td><a href="bookEdit.html" th:href="@{/books/edit(id=${book.id})}">Редактировать</a></td>
            <td><a href="bookDelete.html" th:href="@{/books/delete(id=${book.id})}">Удалить</a></td>
        </tr>
        </tbody>
    </table>
    <a href="bookEdit.html" th:href="@{/books/add}">Добавить книгу</a>
</div>

<footer id="footer" class="footer">(C) Book pandemonium, Pantyushev Denis, 2022</footer>

</body>
</html>