<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="common.css">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
</head>
<body>
    <div id="header" class="header">
    <h1>Book pandemonium</h1>
    <div id="menu">
        <span><a href="books.html" th:href="@{/books}">Книги</a></span>|
        <span><a href="authors.html" th:href="@{/authors}">Авторы</a></span>|
        <spa><a href="jenres.html" th:href="@{/jenres}">Жанры</a></spa></div>
    </div>
    <div id="content">
        <p>Добро пожаловать на  сайт "Книжное столпотворение"! Здесь вы найдете всю информацию по книгам и сами сможете добавить любую информацию по своим
        любимым и нелюбимым книгам.</p>
    </div>

<footer id="footer" class="footer">(C) Book pandemonium, Pantyushev Denis, 2022</footer>

</body>
</html>