<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="@{/common.css}">
    <meta charset="UTF-8">
    <title>Hello to Book</title>
    <script src="../static/jquery-3.6.0.min.js" th:src="@{/jquery-3.6.0.min.js}"></script>
    <script src="../static/books.js" th:src="@{/books.js}"></script>
</head>
<body>
<div id="header" class="header">
    <h1>Book pandemonium</h1>
    <div id="menu">
        <span><a href="books.html" th:href="@{/books}">Книги</a></span>|
        <span><a href="index.html" th:href="@{/}">Главная</a></span>|
        <span><a href="authors.html" th:href="@{/authors}">Авторы</a></span>|
        <span><a href="jenres.html" th:href="@{/jenres}">Жанры</a></span></div>
</div>
<div id="content">
<form id="edit-form">
    <h3>Редактирование/добавление информации по книге:</h3>
    <input id="isEdit-input" name="isEdit" type="hidden" th:value="${isEdit.booleanValue()}" value="false" />
    <table class="edit-form-table">
        <tbody>
        <tr>
            <td>Id:</td><td><input id="id-input" name="id" type="text" readonly="readonly" th:value="${id}" value="1"/></td>
        </tr>
        <tr>
            <td>Наименование:</td><td><input id="name-input" name="name" type="text" value="Какое-то наименование книги"/></td>
        </tr>
        <tr>
            <td>Автор:</td>
            <td><select id="author-input" name="author"></select></td>
        </tr>
        <tr>
            <td>Жанр:</td>
            <td><select id="jenre-input" name="jenre"></select></td>
        </tr>
        <tr>
            <td>Год издания:</td><td><input id="publishingYear-input" name=publishingYear"" type="number" value="2001"/></td>
        </tr>
        </tbody>
    </table>
    <div id="errors" class="edit-form-errors" th:text="''">Какая-то ошибка</div>
    <input type="button" onclick="saveBook()" value="Сохранить" />
    <a href="books.html" th:href="@{/books}"><button type="button">Отмена</button></a>

</form>
</div>
<div id="log"></div>
<footer id="footer" class="footer">(C) Book pandemonium, Pantyushev Denis, 2022</footer>

<script>
    $(document).ready(loadBookEdit());
</script>
</body>
</html>